/* header.css */
@use 'app/global.scss' as *;
.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 72px;
  line-height: 72px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 24px;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  flex-shrink: 0;
}

.header-logo-image-wrap {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  overflow: hidden;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: white;
}

.header-logo-text {
  font-size: 32px;
  font-weight: 700;
  color: $color-vhu-primary;
  white-space: nowrap;
  font-family: $font-lexend;
}

.header-search {
  flex: 1;
  max-width: 500px;
  border-radius: 16px;
}

.header-search-input .ant-input {
  border-radius: 12px;
}

.header-avatar {
  cursor: pointer;
  background: $color-vhu-primary;
}

.drawer-header {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.drawer-logo {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.drawer-title {
  font-size: 18px;
  color: $color-vhu-primary;
  font-weight: 700;
}

.drawer-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sider-scroll {
  width: 100%;
  height: 100%;
  scrollbar-width: none; /* hide scrollbar in Firefox */
}
.sider-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sider-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: 'hidden';
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
}

.sidebar-bottom {
  padding-bottom: 12px;
}

.sidebar-menu {
  border-inline-end: none !important;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .app-header {
    padding: 0 16px;
  }

  .header-logo-image-wrap {
    width: 40px;
    height: 40px;
  }

  .header-logo-text {
    display: none;
  }
}
