@use 'global' as *;

.container {
  padding: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  border-radius: 8px;
}

.title {
  @include body1;
  color: #212121;
}

.sub-title {
  @include body2;
  color: #8d8d8d;
}
