.richtext-input {
  border-width: 1px;
  border-color: #d9d9d9;
  padding: 12;
  border-radius: 8;
  border-style: solid;
  padding-top: 4;
  padding-bottom: 4;
  min-height: 200;
  max-height: 100%;
  overflow-y: scroll;
}
.ProseMirror:focus {
  outline: none;
}
.ProseMirror p {
  margin: 0;
  padding: 0;
}

/* Loại bỏ padding mặc định */
.ProseMirror ul,
.ProseMirror ol {
  margin: 0;
  padding-left: 1rem; /* Hoặc giá trị bạn muốn */
}

.ProseMirror li {
  margin: 0;
  padding: 0;
}
