.ant-menu-item-group .ant-menu-item-group-title {
  display: none !important;
}
.ant-drawer-body {
  overflow-y: hidden !important;
  padding: 0 !important;
}
.ant-menu-inline {
  border-inline-end: 0 !important;
}
.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu-title {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64px;
  gap: 6px;
  border-radius: 14px;
  padding: 8px 8px !important;
  color: #374151;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  text-align: center;
}
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  padding-inline: 0 !important;
}
.ant-menu-title-content {
  margin: 0 !important;
}
.ant-menu .ant-menu-item-icon {
  font-size: 20px;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #eef2f5 !important;
  color: #111827 !important;
  border-radius: 14px;
}
.ant-menu-light .ant-menu-item-selected .ant-menu-title-content {
  color: #111827 !important;
}
.ant-menu-light .ant-menu-item:hover {
  background-color: #f3f4f6 !important;
  color: #111827 !important;
}
.ant-menu {
  background: transparent;
}
.sider-scroll {
  width: 100%;
  height: 100%;
  scrollbar-width: none; /* hide scrollbar in Firefox */
}
.sider-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
